{% extends 'base.html.twig' %}
{% block title %}Hello
    {{ titre }}!{% endblock %}
{% block body %}
    <div class="jumbotron text-center">
        <h1>
            {{ titre }}!</h1>
        <p>
            lorem ipsaum voila bien ce que ça donne bien mon frere
                    This friendly message is coming from
        </p>
    </div>
    <div class="container">
        <h2>Les derniers biens</h2>
        <div class="row">
            {% for bien in biens %}
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('property.show', {'id': bien.id, slug: bien.slug}) }}">
                                    {{bien.title}}</a>
                            </h5>
                            <p class="card-text">
                                {{bien.city}}({{bien.postalcode}})</p>
                            <div class="text-primary" style="font-weight:bold; font-size:2em;">
                                {{bien.FormatedPrice}}
                                €</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}